
div(class="modeless col-sm-12 col-sx-10", id="idPlugin", role="dialog",
    aria-labelledby="pluginLabel", aria-hidden="true")
    div(class="modal-content")
        div(class="modal-header")
            span
                div(id="pluginLabel", class="modal-title col-sm-12", style="font-size: 1.5rem")
                    {{data.title}}
                    button(type="button", class="close col-sm-1 col-xs-6",
                        data-dismiss="modal", aria-hidden="true", ng-click="cancel()") &times

        div(class="modal-body")
            div(id="accountInfo", role="tablist", aria-multiselectable="true")
                div(id="repeater", ng-repeat="m in data.nfos", class="ng-scope")
                    div(class="card")
                        div(class="card-header", role="tab", id="debtorHeader{{m.filenumber}}")
                            button(class="btn", data-toggle="collapse",
                                ng-click="onShowHideClicked(m.filenumber)",
                                data-target="#debtorInfo{{m.filenumber}}", aria-expanded="false",
                                aria-controls="debtorInfo{{m.filenumber}}")
                                span
                                | Debtor Info {{m.filenumber}}
                                img(class='accdionchevron-right',
                                    ng-class="{'accdionchevron-right': data.itmCollapsed[{{m.filenumber}}], \
                                    'accdionchevron-down': !data.itmCollapsed[{{m.filenumber}}]}")

                        div(id="debtorInfo{{m.filenumber}}", class="card-collapse collapse", role="tabpanel",
                            uib-collapse="data.itmCollapsed[{{m.filenumber}}]",
                            aria-labelledby="debtorHeader{{m.filenumber}}")
                            div(class="card card-block")
                                div(class="container")
                                    div(class="row row-eq-height")
                                        div(class="{{data.colTextRight}}") <strong>File Number</strong>
                                        div(class="{{data.colText}}") {{m.filenumber}}
                                        div(class="{{data.colTextRight}}")<strong>DOB</strong>
                                        div(class="{{data.colText}}") {{m.DOB}}

                                    div(class="row row-eq-height")
                                        div(class="{{data.colTextRight}}") <strong>Employer</strong>
                                        div(class="{{data.colText}}") {{m.employer}}
                                        div(class="{{data.colTextRight}}")<strong>SSAN</strong>
                                        div(class="{{data.colText}}") {{m.SSAN}}

                                    div(class="row row-eq-height")
                                        div(class="{{data.colTextRight}}")<strong>Name</strong>
                                        div(class="{{data.colText}}") {{m.fullname}}
                                        div(class="{{data.colTextRight}}")<strong>Employer</strong>
                                        div(class="{{data.colText}}") {{m.employer}}

                                    div(class="row row-eq-height")
                                        div(class="{{data.colTextRight}}")<strong>Address</strong>
                                        div(class="{{data.colText}}") {{m.address}}
                                        div(class="{{data.colTextRight}}")<strong>Skipped Employer</strong>
                                        div(class="{{data.colText}}") {{m.custom}}
